// Place all the styles related to the Rank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	font-family: 'Source Sans Pro', sans-serif;	
	width: 100%;
    min-width: 770px;
    margin:0;
    padding:0;
	text-align: center;
}


table, container {
    width:50%; 
}

.table{
    border-bottom: 1px solid #dddddd;
}

.rank-by-text{
	padding: 0.5em;
}

.btn{
	border: 1px solid gray;
	width: 130px;
	background-color: rgba(0, 0, 0, 0.075);
}

.fas{
	padding: 0.3em;
}

.btn-toolbar {		
	margin: 0 auto; 
	text-align: center;
	width: inherit;
	display: inline-block;
}

a:-webkit-any-link {
    text-decoration: none;    
    color: black;
}

tr{
	cursor: pointer;
}

tr:first-child{
	cursor: default;
}