// Place all the styles related to the Rank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Source Sans Pro', sans-serif;	
	text-align: center;
}

table {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
  }

.centered-table{
	
}